* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%
}

#verse3 {
    font-family: "allotropic", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
    height: 100vh;
    width: 100%;
    padding: 5%;
}

h1 {
    font-size: 80px;
    cursor: default;
    width: auto;

    position: absolute;
    top: 12%; 
    left: 4%;
    transition-property: transform, color;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 1s;
    transform-origin: center left;
}

h2 {
    font-size: 80px;
    cursor: default;
    width: auto;

    position: absolute;
    top: 32%; 
    left: 14%;
}

h3 {
    font-size: 80px;
    cursor: default;
    width: auto;

    position: absolute;
    top: 52%; 
    left: 22%;
}

h4 {
    font-size: 80px;
    cursor: default;
    width: auto;

    position: absolute;
    top: 72%; 
    left: 30%;
}

.live {
    display: inline-block;
    position: relative;

    transition-property: transform, color;
    transition-duration: 1.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.you {
    display: inline-block;
    position: relative;

    transition-property: transform, color;
    transition-duration: 2s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.live2 {
    display: inline-block;
    position: relative;

    transition-property: transform, color;
    transition-duration: 1.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.moveL {
    display: inline-block;
    position: relative;

    transition-property: transform;
    transition-duration: 1.2s;
    transition-timing-function: ease;
    transition-delay: 2s;
}

.moveL2 {
    display: inline-block;
    position: relative;

    transition-property: transform;
    transition-duration: 1.2s;
    transition-timing-function: ease;
    transition-delay: 4.5s;
}

.moveR {
    display: inline-block;
    position: relative;

    transition-property: transform;
    transition-duration: 1.2s;
    transition-timing-function: ease;
    transition-delay: 4.5s;
}

#verse3:hover h1 {
    transform:  translateX(500px);
    color: brown;
}

#verse3:hover .live {
    transform: perspective(1000px) rotateY(720deg) scale(2);
    transition-delay: 2s;
    color: rgb(241, 217, 96);
}

#verse3:hover .you {
    transform: rotate(-90deg) scale(1.1);
    transition-delay: 3s;
    color: rgb(0, 30, 139);
}

#verse3:hover .live2 {
    transform: perspective(1000px) rotateY(720deg) scale(2);
    transition-delay: 4.5s;
    color: rgb(241, 217, 96);
}

#verse3:hover .moveL {
    transform: translateX(-100px);
}

#verse3:hover .moveL2 {
    transform: translateX(-100px);
}

#verse3:hover .moveR {
    transform: translateX(100px);
}