/* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#verse1 {
    font-family: "allotropic", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
    height: 100vh;
    width: 100%;
    padding: 10%;
}

h1 {
    font-size: 80px;
    cursor: default;
    width: auto;

    position: absolute;
    top: 12%; 
    left: 38%;
    transition-property: transform, color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 1s;
    transform-origin: center;
}

h2 {
    font-size: 80px;
    cursor: default;
    width: auto;

    position: absolute;
    top: 32%; 
    left: 18%;
    transition-property: transform;
    transition-duration: 4s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

h3 {
    font-size: 80px;
    cursor: default;
    width: auto;

    position: absolute;
    top: 52%; 
    left: 38%;
    transition-property: transform, color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 3s;
    transform-origin: center;
}

h4 {
    font-size: 80px;
    cursor: default;
    width: auto;

    position: absolute;
    top: 72%; 
    left: 7%;
    transition-property: transform;
    transition-duration: 4s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.solid {
    display: inline-block;
    position: relative;

    transform: translateY(0px);
    transition-property: transform, color;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 2s;
}

.moveR {
    display: inline-block;
    position: relative;

    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 2s;
}

.moveL {
    display: inline-block;
    position: relative;

    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 2s;
}

.come {
    display: inline-block;
    position: relative;
    opacity: 0;

    transition-property: all;
    transition-duration: 1.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.go {
    display: inline-block;
    position: relative;
    opacity: 1;

    transition-property: all;
    transition-duration: 1.5s;
    transition-timing-function: ease;
    transition-delay: 5s;
}

#verse1:hover h1 {
    transform: scale(1.7, 1.7);
    color: brown;
}

#verse1:hover h3 {
    transform: scale(1.7,1.7);
    color: brown;
}

#verse1:hover .solid {
    transform: translateY(20px) scale(0.2);
    color: rgb(0, 30, 139);
}

#verse1:hover .moveR {
    transform: translateX(55px);
}

#verse1:hover .moveL {
    transform: translateX(-55px);
}

#verse1:hover .come {
    opacity: 1;
    transform: rotate(720deg);
    transition-delay: 4s;
    color: rgb(0, 30, 139);
}

#verse1:hover .go {
    opacity: 0;
    transform: rotate(720deg);
    color: rgb(0, 30, 139);
}
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#verse1 {
    font-family: "allotropic", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center;
    gap: 40px;
    height: 100vh;
    width: 100%;
    padding: 10%;
}

h1 {
    font-size: 80px;
    cursor: default;
    width: auto;

    
    transition-property: transform, color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 1s;
    transform-origin: center;
}

h2 {
    font-size: 80px;
    cursor: default;
    width: auto;

    
    transition-property: transform;
    transition-duration: 4s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

h3 {
    font-size: 80px;
    cursor: default;
    width: auto;

    
    transition-property: transform, color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 3s;
    transform-origin: center;
}

h4 {
    font-size: 80px;
    cursor: default;
    width: 110%;

    
    transition-property: transform;
    transition-duration: 4s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.solid {
    display: inline-block;

    transform: translateY(0px);
    transition-property: transform, color;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 2s;
}

.moveR {
    display: inline-block;

    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 2s;
}

.moveL {
    display: inline-block;

    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 2s;
}

.come {
    display: inline-block;
    opacity: 0;

    transition-property: all;
    transition-duration: 1.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.go {
    display: inline-block;
    opacity: 1;

    transition-property: all;
    transition-duration: 1.5s;
    transition-timing-function: ease;
    transition-delay: 5s;
}

#verse1:hover h1 {
    transform: scale(1.7, 1.7);
    color: brown;
}

#verse1:hover h3 {
    transform: scale(1.7,1.7);
    color: brown;
}

#verse1:hover .solid {
    transform: translateY(20px) scale(0.2);
    color: rgb(0, 30, 139);
}

#verse1:hover .moveR {
    transform: translateX(55px);
}

#verse1:hover .moveL {
    transform: translateX(-55px);
}

#verse1:hover .come {
    opacity: 1;
    transform: rotate(720deg);
    transition-delay: 4s;
    color: rgb(0, 30, 139);
}

#verse1:hover .go {
    opacity: 0;
    transform: rotate(720deg);
    color: rgb(0, 30, 139);
}