* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%
}

#verse2 {
    font-family: "allotropic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
}

h1 {
    cursor: default;
    width: auto;
    position: absolute;
    top: 32%; 
    right: 10%;
    transition-duration: 4s;
}

h2 {
    cursor: default;
    width: auto;
    position: absolute;
    top: 52%; 
    left: 10%;
    transition-duration: 4s;
}