* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
}

#verse4 {
    font-family: "allotropic", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    height: 100vh;
    width: 100%;
    padding: 2%;
}

h1 {
    font-size: 80px;
    cursor: default;
    width: auto;
    margin-left: 5px;
}

h2 {
    font-size: 80px;
    cursor: default;
    width: auto;
    margin-left: 550px;
}

h3 {
    font-size: 80px;
    cursor: default;
    width: auto;
    margin-left: 5px;
}

h4 {
    font-size: 80px;
    cursor: default;
    width: auto;
    margin-left: 310px;
}

h5 {
    font-size: 40px;
    cursor: default;
    width: auto;
    text-align: center;
}

/*transform: perspective(1000px) rotateX(720deg) scale(2);
    transition-delay: 3s;*/